---
import CreateUser from "@/components/create-user";
import UserList from "@/components/user-list";
import { UserService } from "@/domains/services/user";
import { UserRepository } from "@/infrastructure/repositories/user";
import Layout from "@/layouts/index.astro";

const service = new UserService(new UserRepository());
const { data, error } = await service.getAll();
---

<Layout content={{ title: "AstroApp" }}>
  <section>
    <div>
      <h1>AstroApp</h1>
      <CreateUser client:visible />
      <UserList users={data ?? []} client:visible />
    </div>
  </section>
</Layout>
