---
import type { Unit } from "@/domains/entities/postgres/unit";
import { Button } from "@/components/shadcn/button.tsx";

interface Props {
  units: Unit[];
}

const { units } = Astro.props;
---

<ul>
  {
    units.map((unit) => (
      <li class="flex flex-row gap-2 pb-2">
        <p>{unit.description}</p>
        <a href={`/unidades/${unit.id}`}>
          <Button>Detalhes</Button>
        </a>
      </li>
    ))
  }
</ul>
