---
import type { Unit } from "@/domains/entities/postgres/unit";

interface Props {
  units: Unit[];
}

const { units } = Astro.props;
---

<ul>
  {
    units.map((unit) => (
      <li>
        <a href={`/unidades/${unit.id}`}>
          <p>{unit.description}</p>
        </a>
      </li>
    ))
  }
</ul>
